body {overflow:hidden;}

.myCard {
    background-color: rgba(255,255,210,0.6);
    height:100%;
}

.myCard-header {
    background-color: orange;
    padding: 15px;
}

.myCard-body {
    /*background-color: rgba(255,255,210,0.6);*/
    padding: 10px 10px
}

.items {
    background-color: white;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}

.usage{
    padding: 10px;
}

body {
    overflow:hidden;
}

html, body { 
    height: 100%; 
}

#first_stage {
    height : 100%;
}

#button_value {
    color : #525252;
    font-size : 30px;
}

#time_value {
    color : #525252;
    font-size : 30px;
}

#kusa {font-size:15px;
    color:green;}

.bar {
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}
@keyframes anime1 {
    0% {width: 50px; height: 50px; background-color: aqua;}
    100% {width: 200px; height: 50px; background-color: blue;}
}
/*
p {
    font-family: 'helvetica neue', helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 3px solid rgba(250,200,0,0.6);
    background: rgba(200,200,0,0.3);
    color: rgba(0,0,200,0.6);
    box-shadow: 1px 1px 2px rgba(200,200,0,0.4);
    border-radius: 10px;
    display: inline-block;
    cursor:pointer;
    height: 30px;
    width: 300px;
  }
*/
.btn_css{
border-radius: 5px;
font-size: 30px;
text-align: center;
background-color: aqua;
text-align: center;
color: white;
height: 50px;
width: 50px;
}

.batsu{
    display: block;
    width: 30px;/*枠の大きさ*/
    height: 30px;/*枠の大きさ*/
    background: #FFFFFF00;
    position: relative;
}

.batsu::before, .batsu::after{
    content: "";
    display: block;
    width: 2px;/*バツ線の太さ*/
    height: 50%;/*バツ線長さ*/
    background: #666;
    transform: rotate(45deg);
    transform-origin: 50% 50%;
    position: absolute;
    left: 48%;
}

.batsu::after{
    transform: rotate(-45deg);
}

.batsu:hover{
   cursor: pointer;
   background: #0000000B;
   border-radius: 100px;
}

.vote_btn{
border-radius: 5px;
font-size: 20px;
text-align: center;
background-color: red;
text-align: center;
color: white;
height: 50px;
width: 150px;
}